
.fanera {
    background: rgba(255, 255, 255, 1);
    display: flex;
    margin: -15px;
    padding: 0;
    justify-content: center;
  }
  @media screen and (min-width: 480px) {
    .fanera { 
      max-width: 448px;
      flex-direction: column;
    }
  }
  @media screen and (min-width: 768px) {
    .fanera { 
      max-width: 768px;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }
  @media screen and (min-width: 1200px) {
    .fanera { 
      max-width: 1200px;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }
  }
  .caban {
    box-sizing: border-box;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    margin: -15px;
   }
   @media screen and (min-width: 480px) {
    .caban { 
      max-width: 448px;
      flex-direction: column;
    }
  }
  @media screen and (min-width: 768px) {
    .caban { 
      max-width: 768px;
      flex-wrap: wrap;
      padding: 0;
      flex-direction: inherit;
    }
  }

   .green {
    box-sizing: border-box;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    margin: -15px;
   }
   @media screen and (min-width: 480px) {
    .green { 
      max-width: 448px;
      flex-direction: column;
    }
  }
  @media screen and (min-width: 768px) {
    .green{
     max-width: 768px;
     justify-content: center;
     align-items: center;
    }
  } 
   .tnt {
    padding: 0;
  }
  @media screen and (min-width: 480px) {
    .tnt { 
      max-width: 448px;
      text-align: center;
    }
  }
  .ulian{
    display: flex;
    gap: 10px;
    padding: 0;
  }
  .fly{ 
    margin: 0;
    padding-left: 0;
    display: inline-flex;
  }
  @media screen and (min-width:768px) {
    .fly {
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }

  .ply{
    margin-left: auto;
   display: inline-flex;
   margin-top: 0;
   margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    .ply {
      max-width: 768px;
      flex-direction: column;
    }
  }
  .import {
    padding: 0;
   }
   @media screen and (min-width: 480px) {
    .import { 
      max-width: 448px;
      text-align: center;
    }
  }
  .avatar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0;
    margin: -15px;
    flex-wrap: wrap;
    gap: 30px;
  }
  @media screen and (min-width:480px) {
    .avatar {
      max-width: 480px;

    }
  }
  @media screen and (min-width:768px) {
    .avatar {
      max-width: 768px;
      gap: 15px;
    }
   }
  .mark{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-bottom: 50px;
   }
   @media screen and (min-width:480px) {
    .mark {
      max-width: 448px;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
   }
   @media screen and (min-width:768px) {
    .mark {
      max-width: 768px;
      justify-content: center;
      align-items: center;
      padding: 0;
      
    }
   }
   .lion{
    padding-left: 0;
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  @media screen and (min-width: 480px) {
    .lion { 
      max-width: 448px;
      flex-wrap: wrap;
    }
  }
  @media screen and (min-width: 768px) {
    .lion {
      max-width: 768px;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  .churge{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-left: 0;
    margin-top: 16px;
    }