@mixin font ($fs, $lh, $fw){
  font-size: $fs;
  line-height: $lh;
  font-weight: $fw;
}

.left{
    padding-left: 50px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      &:focus,
      &:hover{
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  
  .senior {
    border-width: 145px;
    border: 1px solid rgba(255,255,255,1);
      &:hover,
      &:focus{
       transition-duration: 250ms;
       transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
   } 
   
   .ylia{
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--color3);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      &:focus,
      &:hover {
    background-color: var(--color4);
    fill: var(--color3);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  
  .megogo {
    width: 370px;
    border: 1px var(--color1);
    background-color:var(--color3);
    border: 1px solid #EEEEEE;
      &:hover,
      &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  @media screen and (min-width:320px) {
    .megogo {
      width: 300px;
    }
  }
  @media screen and (min-width:768px) {
    .megogo {
      width: 354px;
    }
  }
  @media screen and (min-width:768px) {
    .megogo:last-child {
      width: 354px;
      align-self: flex-start;
      justify-content: flex-start;
    }
  }
  .megogo:hover .text-reklama{
    transform: translateY(0%);
  }
  .safe{
    @include font(14px, 1.7, 400);
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
      &:hover,
      &:focus {
    color: var(--color4);
    }
    }
    .sos{
      position: relative;
      margin: 15px;
     }  
     @media screen and (min-width:320px) {
      .sos {
        width: 100%;
        
      }
     }  
     @media screen and (min-width:768px) {
      .sos {
        width: 370px;
      }
     }
    
     .protein {
      background: rgba(255, 255, 255, 1);
      margin: 15px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
     }
     @media screen and (min-width:480px) {
      .protein {
        max-width: 480px;
        
      }
     }

     @media screen and (min-width:768px) {
      .protein {
        max-width: 768px;
      }
     }
    .alert {
      @include font(14px, 1.7, 400);
    font-style: normal;
    color: rgba(255, 255, 255, 1);
     }
  .zoom{
     width: 170px;
     height: 92px;
     border-radius: 4px;
     border: 1px solid var(--color6); 
     fill: rgba(175, 177, 184, 1);
       &:focus,
       &:hover {
      border: 1px solid var(--color8) ;
      fill: rgba(33, 150, 243, 1);
     } 
      }
    .bordo-pop-link{
        display: flex;
        justify-content: center;
        fill: var(--color6);
          &:hover,
          &:focus {
         fill: var(--color3);
        }
      }
      .jess {
        display: inline-block;
        margin: 15px;
        justify-content: center;
      }   
      @media screen and (min-width:768px) {
        .jess {
          max-width: 768px;
          width: 354px;
        }  
       }       