body {
    font-family: "Roboto", "Raleway", sans-serif;
    font-size: 14px;
    margin: 0;
    }
  ul {
    list-style : none;
    }
  .current {
    color:var(--color4); 
    position: relative;
  }
  button.current {
    color: var(--color3);
    background-color: var(--color4);
   }

  .current::after{
    position: absolute;
    content: '';
    background-color: rgba(33, 150, 243, 1);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: 0;
    left: 0;
     
     
       .position {
      background-color: var(--color3); 
      }
 .policy {
  font-weight: 400;
  font-size: 14px;
    }
      
  }