:root {
    --color1: #212121;
    --color2: #757575; 
    --color3: #FFFFFF;
    --color4: #2196F3;
    --color5: #2F303A;
    --color6: #AFB1B8;
    --color7: #F5F4FA;
    --color8: rgba(33, 150, 243, 1);
    --color9: rgba(175, 177, 184, 1);
    --card-gap: 30px;
     }