.wew{
    background: rgba(255, 255, 255, 1);
    }
    .island{
     text-align: left;
    }
       .maximus {
        height: 80px;
        background-color: rgba(255, 255, 255, 1);
       }
    
       .club{
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 32px;
        margin-right:50px ;
       }
      
       .sea {
        margin: 94px, 8px, 56px, 517px;
       }
      .zly{
        display: inline-flex;
      }
      .export {
      padding-top: 60px;
      padding-bottom: 20px;
      }
      .aria {
        padding-top: 94px;
      } 
        .eee{
          display: block;
        }
  
    .mountain{
      display: inline;
      align-items: flex-start;
      justify-content: center;
    }